/*
 me:     Twenty Thirteen Child
 Theme URI:      http://example.com/twenty-thirteen-child/
 Description:    Twenty Thirteen Child Theme
 Author:         Shengyao Qian
 Author URI:     http://example.com
 Template:       twentythirteen
 Version:        1.0.0
*/

/* =Imports styles from the parent theme
-------------------------------------------------------------- */
@import url('../twentythirteen/style.css');


/* =Theme customization starts here
-------------------------------------------------------------- */
